<h1 class="title">個人資料</h1>
<%# <%= resource_name.to_s.humanize %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
  <%= f.label :username, '使用者帳號' %><br />
  
  <div class="control">
    <%= f.text_field :username, autofocus: true, class: 'input is-medium' %>
  </div>
  <p class="help">範例:</p>
</div>

<div class="field">
  <%= f.label :avatar, '大頭照' %><br />
  <div class="control">
    <%= f.file_field :avatar %>
  </div>
</div>

<%= image_tag current_user.avatar.variant(resize: '250x250') if current_user.avatar.attached? %>

<div class="field">
  <%= f.label :intro, '個人簡介' %><br />
  <div class="control">
    <%= f.text_area :intro, class: 'textarea'%>
  </div>
</div>



<div class="field">
  <%= f.label :email %><br />
  <div class="control">
    <%= f.email_field :email, autocomplete: "email", class: 'input' %>
  </div>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
  <div class="control">
    <%= f.label '密碼' %> <p class="help">(如果您不想更改，請留空)</p><br />
    <%= f.password_field :password, autocomplete: "new-password" , class: 'input' %>
    <% if @minimum_password_length %>
    <p class="help is-danger">最少<%= @minimum_password_length %>個字符</p>
  </div>
  <br />
  
  <% end %>
</div>

<div class="field">
  <div class="control">
    <%= f.label '再次確認' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input'  %>
  </div>
</div>



<div class="column">
  <div class="actions">
    <%= f.submit "Update" ,class: "button is-primary is-medium"%>
  </div>
  <% end %>
</div>
<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? -->

<!-- </p> -->
<div class="column">
  <%= link_to "Back", :back, class: 'button is-medium'%>
</div>