<h2 class="title">註冊</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
  <%= f.label :email %><br />
  <div class="control">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
  </div>
</div>


<div class="field">
  <%= f.label '密碼' %>

  <div class="control">
    <% if @minimum_password_length %>
    
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'input'  %>
    <p class="help is-danger">(最少<%= @minimum_password_length %> 個字符)</p>
  </div>
</div>

<div class="field">
  <%= f.label '再次確認' %><br />
  <div class="control">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>
</div>


<div class="column">
  <div class="actions">
    <!-- <div class="control"> -->
    <%= f.submit "Sign up", class: 'button is-primary' %>
    <!-- </div> -->
  </div>
</div>
<% end %>
<div class="column">
  <%= render "devise/shared/links" %>
</div>